.box-top {
  border-top: 8px solid #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
}

a.menu {
  font-size: 20px;
  padding: 10px;
}

#content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#stories {
  display: flex;
  flex-flow: column;
}

.story {
  border: 1px solid #ddd;
  margin: 5px;
  width: 600px;
  box-shadow: 5px 5px 5px -5px #999;
  cursor: pointer;

  display: flex;
  flex-direction: row;
}

.story:first-child {
  margin-top: 0px;
}

.story-text {
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-self: center;
}

.story-text p {
  margin: 0px;
}

.story-headline {
  font-size: 26px;
  text-align: justify;
  font-family: 'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
}

.story-summary {
}

.story-author {
}

.story-author-avatar {
  font-family: Emoji;
  font-size: 20px;
}

.story-author-name {
  font-weight: bold;
}

.story-image {
  height: 150px;
}

#sidebar {
  display: flex;
  flex-flow: column-reverse;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px -5px #999;
}

.sidebar-story {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 333px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
}

.sidebar-story:last-child {
  padding: 0px 0px 5px 0px;
}

.sidebar-story:first-child {
  padding: 5px 0px 0px 0px;
}

.sidebar-headline {
  font-size: 18px;
  text-align: justify;
  font-family: 'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
  padding: 15px;
}

@font-face {
  font-family: Emoji;
  src: url('/static/font/emojis.ttf');
} 
